<form action="/post_query" method="post" id="form">
  <div class="form-row">
	{% for x, val, new_row in inputs %}
    {% if new_row %}
  </div>
  <div class="form-row">
    {% endif %}
    <div class="form-group col-md-{{x['bootstrap-cols']}}">
      <label for="{{x['name']}}">{{x['display']}}</label>
    {% if x['type'] == 'string' %}
      <input name="{{x['name']}}" class="form-control" value="{{val | safe}}">
    {% elif x['type'] == 'textarea' %}
      <textarea name="{{x['name']}}" class="form-control" rows="{{x['rows']}}">{{val | safe}}</textarea>
    {% else %}
      <input name="{{x['name']}}" class="form-control" value="{{val | safe}}" type="number">
    {% endif %}
    </div>
	{% endfor %}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
